<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">이메일:</label>
        <input type="text" id="username" name="username" required />
    </div>

    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <div>
        <button type="submit">로그인</button>
    </div>

    <div style="color:red" th:if="${param.error}">
        아이디 또는 비밀번호가 잘못되었습니다.
    </div>
    <div style="color:green" th:if="${param.logout}">
        로그아웃 되었습니다.
    </div>
</form>
</body>
</html>